{{#fw-content-box as |section|}}
    {{#if section.header}}
        <h1 class="panel-title"><strong>About</strong></h1>
    {{else if section.body}}
        <p><strong>Program: </strong> {{config.name}}</p>
        <p><strong>Version: </strong> {{config.version}}</p>
        {{#if developers}}
            <p><strong>Developers:</strong> {{developers}}</p>
        {{/if}}
    {{else if section.footer}}
        <button class="btn btn-default btn-sm pull-right" {{action "closeModal"}}>
            <i class="fa fa-times"></i>
            Close
        </button>
    {{/if}}
{{/fw-content-box}}
