{{#fw-content-box as |section|}}
    {{#if section.header}}
        <h1 class="panel-title"><strong>App Switch</strong></h1>
    {{else if section.body}}
        <ul class="app-switch-ul">
            {{#each apps as |app|}}
                <li>
                    <a href="{{app.url}}">
                        <img src="{{app.logo}}" />
                        <p class="text-center">{{app.name}}</p>
                    </a>
                </li>
            {{/each}}
        </ul>
    {{else if section.footer}}
        <button class="btn btn-sm btn-default pull-right" {{action 'closeModal'}}>
            <i class="fa fa-times"></i>
            Close
        </button>
    {{/if}}
{{/fw-content-box}}
