<form role="form">
    {{#fw-content-box as |section|}}
        {{#if section.header}}
            <h1 class="panel-title"><strong>Change Password</strong></h1>
        {{else if section.body}}
            {{#if needSecure}}
                <p>Because your account is new, it is recommended that you change your password to a more secure one.</p>
            {{/if}}

            {{fw-validated-textfield
                valuePath="currentPass"
                label="Current Password"
                model=this
                type="password"
                name="current_password"
                placeholder="Current Password"
                update=(action (mut currentPass))
            }}

            {{fw-validated-textfield
                valuePath="newPass"
                label="New Password"
                model=this
                type="password"
                name="new_password"
                placeholder="New Password"
                update=(action (mut newPass))
            }}

            {{fw-validated-textfield
                valuePath="confirmPass"
                label="Confirm Password"
                model=this
                type="password"
                name="confirm_password"
                placeholder="Confirm Password"
                update=(action (mut confirmPass))
            }}

        {{else if section.footer}}
            {{#fw-promise-button
                type="submit"
                class="btn btn-primary btn-sm pull-left"
                promise=(action "confirm")
                onsuccess=(action "success")
                onerror=(action "error")
            }}
                <i class="fa fa-check"></i>
                Change Password
            {{/fw-promise-button}}

            <button type="button" class="btn btn-default btn-sm pull-right" {{action "closeModal"}}>
                <i class="fa fa-times"></i>
                Close
            </button>
        {{/if}}
    {{/fw-content-box}}
</form>
