{{#fw-content-box as |section|}}
    {{#if section.header}}
        <h1 class="panel-title"><strong>Confirm</strong></h1>
    {{else if section.body}}
        {{{_model.message}}}
    {{else if section.footer}}
        {{fw-promise-button
            class="btn btn-sm"
            buttonText=_model.confirmButtonText
            buttonStyle=_model.confirmButtonStyle
            promise=(action 'confirm')
        }}

        <button type="button" class="btn btn-default btn-sm pull-right" {{action "closeModal"}}>
            {{_model.closeButtonText}}
        </button>
    {{/if}}
{{/fw-content-box}}
