{{#fw-content-box as |section|}}
    {{#if section.header}}
        <h1 class="panel-title"><strong>Switch Departments</strong></h1>
    {{else if section.body}}
        <div class="form-group">
            {{fw-select
                content=departments
                selection=dept
                action="changeDepartment"
                selectValue=true
            }}
        </div>
    {{else if section.footer}}
        <button class="btn btn-sm btn-default pull-right" {{action 'closeModal'}}>
            <i class="fa fa-times"></i>
            Close
        </button>
    {{/if}}
{{/fw-content-box}}
