<form role="form">
    {{#fw-content-box as |section|}}
        {{#if section.header}}
            <h1 class="panel-title"><strong>Login</strong></h1>
        {{else if section.body}}
            <p>Your session has expired. Please re-enter your password to continue working.</p>

            {{fw-validated-textfield
                valuePath="password"
                label="Password"
                model=this
                type="password"
                name="password"
                placeholder="Password"
                update=(action (mut password))
            }}
        {{else if section.footer}}
            <button type="submit" class="btn btn-primary btn-sm pull-left" {{action "confirm"}}>
                <i class="fa fa-check"></i>
                Login
            </button>

            <button type="button" class="btn btn-default btn-sm pull-right" {{action "closeModal"}}>
                <i class="fa fa-times"></i>
                Logout
            </button>
        {{/if}}
    {{/fw-content-box}}
</form>
