$c-main: #7E3DB7;
$c-flip: #FFF;

@import "fw-ember";

.example-tooltip-button-wrapper {
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    overflow: auto;
    border: solid 1px #000;
}
