.app-switch-ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    list-style: none;
    margin: 10px;

    & > li {
        flex: none;

        a {
            text-decoration: none;
            color: inherit;

            img {
                width: 150px;
            }
        }
    }
}
