.fw-header {
    background: $c-main;
    width: 100%;
    min-height: 50px;

    .fw-app-info {
        padding: 5px;
        height: 100%;

        .fw-app-logo {
            cursor: pointer;
            height: 50px;
            width: 50px;
        }

        .fw-app-name {
            color: $c-flip;
            font-size: 24px;
            font-weight: 700;
            line-height: 30px;
            padding: 10px;
        }
    }

    .fw-header-link {
        padding: 5px;
        height: 100%;

        .link-text {
            color: $c-flip;
            padding: 17px;
            font-size: 14px;
            line-height: 16px;
            user-select: none;
            text-align: center;

            strong {
                font-weight: 700;
            }
        }

        &:hover,
        &.open {
            background: $c-charcoal;
        }

        &.border-right {
            border-right: 1px solid $c-flip;
        }
    }
}

.fw-main-nav {
	background: $c-charcoal;
	font-size: $font-size-base;
	overflow-y: hidden;
	overflow-x: auto;
	width: 100%;

	ul {
		display: block;
		white-space: nowrap;
		text-align: center;
	}

	li {
		padding: 6px;
		display: inline-block;
	}
	a {
		display: block;
		padding: 4px 5px;
		color: $c-flip;
		text-decoration: none;

		&.active {
			font-weight: 700;
		}

		&:hover {
			background: $c-accent;
		}
	}
}
