.fw-collection-ul {
    list-style: none;
    padding: 5px;

    & > li {
        @include clearfix();
        padding: 5px 10px;

        &:hover {
            background-color: $c-accent;
            color: $c-flip;
        }
    }
}

.fw-collection-ul.link-ul {
    a {
        color: inherit;
        text-decoration: none;
    }

    & > li.active {
        background-color: $body-bg;

        &:hover {
            background-color: $c-accent;
            color: $c-flip;
        }
    }

    &:hover {
        cursor: pointer;
    }
}

.fw-collection-ul.hover-buttons > li {
    button {
        visibility: hidden;
        float: right;
    }

    &:hover {
        button {
            visibility: visible;
        }
    }
}
