.fullscreen-modal-liquid-target {
    overflow-y: auto;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.fullscreen-modal-background {
	width: 100%;
    height: 100%;
    position: absolute;
	background-color: fade-out($c-charcoal, 0.15);
}

.fullscreen-modal {
	pointer-events: auto;
	padding-top: 30px;
	padding-bottom: 30px;
    max-width: 600px;
    width: 100%;
}

.fullscreen-modal-sm {
    max-width: 300px;
}

.fullscreen-modal-md {
    max-width: 600px;
}

.fullscreen-modal-lg {
    max-width: 900px;
}

.fw-modal {
	margin: 0 auto;
	float: none;
}
