.fw-alert-passive {
    animation: fade-out;
    animation-delay: 5s;
    animation-iteration-count: 1;

    &:hover {
        animation: fade-in
    }
}

.alert-container.global > .alert {
    margin-bottom: 0;
    border-radius: 0;

    .close {
        opacity: 1;
        text-shadow: none;

        &:hover {
            opacity: 0.7;
            text-shadow: none;
        }
    }

    &.alert-success {
        background-color: $c-success;
        color: #FFF;
    }

    &.alert-danger {
        background-color: $c-danger;
        color: #FFF;
    }
}
