<div class="liquid-tether-overlay {{overlayClass}}" {{action 'clickOverlay'}}></div>
<div class="liquid-tether {{tetherClass}} {{sizeClass}}">
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      {{component modalPath
                  model=model
                  confirm=(action 'confirm')
                  closeModal=(action 'close')}}
    {{/if}}
</div>
