<section class="fw-app-info pull-left clearfix" role="button" {{action "toggleAppsModal"}}>
    <img class="fw-app-logo pull-left" src="{{logo}}" />
    <span class="fw-app-name pull-left">{{config.name}}</span>
</section>

{{#if session.isAuthenticated}}

<section class="fw-header-link pull-right clearfix dropdown">
    <span class="link-text pull-right" data-toggle="dropdown" role="button">Welcome, <strong>{{currentUser.nameFull}}</strong></span>
    <ul class="dropdown-menu dropdown-menu-right">
        <li><a role="button" {{action "toggleDeptModal"}}><i class="fa fa-exchange" style="margin-right: 2px;"></i>&nbsp;Switch Departments</a></li>
        <li>{{#link-to 'profile'}}<i class="fa fa-user" style="margin-right: 2px;"></i>&nbsp;Profile{{/link-to}}</li>

        <li role="separator" class="divider"></li>

        <li><a role="button" {{action 'reload'}}><i class="fa fa-refresh"></i>&nbsp;Reload Permissions</a></li>
        <li><a role="button" {{action "logout"}}><i class="fa fa-power-off" style="margin-right: 2px;"></i>&nbsp;Logout</a></li>
    </ul>
</section>

{{/if}}

{{#if showAboutLink}}
<section class="fw-header-link pull-right clearfix {{if session.isAuthenticated 'border-right'}}">
    <span class="link-text pull-right" role="button" {{action "toggleAboutModal"}}>About</span>
</section>
{{/if}}

{{#if showAppsModal}}
    {{fw-fullscreen-modal "app-switch" size="lg" close=(action 'toggleAppsModal')}}
{{/if}}

{{#if showDeptModal}}
    {{fw-fullscreen-modal "dept-switch" size="sm" close=(action 'toggleDeptModal')}}
{{/if}}

{{#if showAboutModal}}
    {{fw-fullscreen-modal "about-app" size="md" close=(action 'toggleAboutModal')}}
{{/if}}

{{#if showChangeModal}}
    {{fw-fullscreen-modal
        "change-password"
        size="md"
        close=(action 'toggleChangeModal')
        model=(hash needSecure=needSecureChangePassword)
    }}
{{/if}}
