{{#fw-spin-button
    buttonIcon=(readonly buttonIcon)
    buttonSize=(readonly buttonSize)
    buttonType=(readonly buttonState)
    spinIcon=(readonly spinIcon)
    autoWidth=(readonly autoWidth)
    disableWhen=(readonly disableWhen)
    submitting=submitting
    type=(readonly type)
    tabindex=(readonly tabindex)
    timeout=false
    fixWidth=state
    action="click"
    class=concatenatedClasses
}}
    {{#if state.rejected}}
        <i class="fa fa-fw fa-times"></i>
    {{else if state.resolved}}
        <i class="fa fa-fw fa-check"></i>
    {{else}}
        {{#if hasBlock}}
            {{{yield}}}
        {{else}}
            {{buttonText}}
        {{/if}}
    {{/if}}
{{/fw-spin-button}}
