{{#if prompt}}
    <option disabled={{not promptEnabled}} selected={{not selection}}>
        {{prompt}}
    </option>
{{/if}}

{{#each content as |item|}}
    <option value="{{get item optionValuePath}}"
        selected={{eq item selection}}>
        {{get item optionLabelPath}}
    </option>
{{/each}}
