{{#if (and buttonIcon (not showSpinner))}}
    <i class="fa {{buttonIcon}}"></i>
{{/if}}

{{#if showSpinner}}
    <i class="fa fa-fw fa-spin {{spinIcon}}" style="margin: 0 auto;"></i>
{{else}}
    {{#if hasBlock}}
        {{{yield}}}
    {{else}}
        {{buttonText}}
    {{/if}}
{{/if}}
