{{#if label}}
    <label class="control-label" for="{{inputId}}">{{label}}</label>
{{/if}}
{{one-way-textarea
    value
    class=concatenatedClasses
    placeholder=placeholder
    name=name
    disabled=disabled
    onblur=(action 'focusOut')
    update=(action 'update')
}}
{{#if showErrorMessage}}
    <span class="help-block">{{v-get model valuePath 'message'}}</span>
{{else if hasBlock}}
    {{yield}}
{{else if helpText}}
    <span class="help-block">{{helpText}}</span>
{{/if}}
