{{#if label}}
    <label class="control-label" for="{{inputId}}">{{label}}</label>
{{/if}}
{{one-way-input
    value
    class=concatenatedClasses
    type=type
    placeholder=placeholder
    name=name
    disabled=disabled
    readonly=readonly
    size=size
    maxlength=maxlength
    autocomplete=autocomplete
    autofocus=autofocus
    novalidate=novalidate
    min=min
    max=max
    pattern=pattern
    onblur=(action 'focusOut')
    update=(action 'update')}}
{{#if showErrorMessage}}
    <span class="help-block">{{v-get model valuePath 'message'}}</span>
{{else if hasBlock}}
    {{yield}}
{{else if helpText}}
    <span class="help-block">{{helpText}}</span>
{{/if}}
