{{#fw-content-box hasFooter=false as |section|}}
    {{#if section.header}}
        <h1 class="panel-title"><strong>Notifications</strong></h1>
    {{else if section.body}}
        {{fw-notifications outlet="test-1"}}
        <p>
            Sometimes, you want to alert your user of some particular event
            or error. To do so FW Ember includes a 'notifications' component,
            which allows messages to be 'alerted' in various places throughout the
            page.
        </p>

        <hr>

        <h3>Demo</h3>

        <button type="button" class="btn btn-lg btn-primary" {{action 'triggerGlobalNotification' 'This should appear at the top of the page'}}>
            Global Alert
        </button>

        <button type="button" class="btn btn-lg btn-primary" {{action 'triggerBasicNotification' 'This should appear at the top of the content box' 'test-1'}}>
            Local Alert
        </button>
    {{/if}}
{{/fw-content-box}}
