{{fw-notifications outlet="global"}}

{{fw-header openModal="openModal" showAboutLink=true}}

{{#fw-nav}}
    <ul>
        {{#unless session.isAuthenticated}}
            <li>{{#link-to "login"}}Login{{/link-to}}</li>
        {{/unless}}

        <li>{{#link-to "index"}}Intro{{/link-to}}</li>
        <li>{{#link-to "installation"}}Installation{{/link-to}}</li>
        <li>{{#link-to "basic-components"}}Basic{{/link-to}}</li>
    </ul>
{{/fw-nav}}

<main class="container fw-container">
    <div class="row">
        {{outlet}}
    </div>
</main>
