<div class="col-md-4 col-sm-12">
    {{#fw-content-box as |section|}}
        {{#if section.header}}
            <h1 class="panel-title"><strong>Basic Components</strong></h1>
        {{else if section.body}}
            <ul class="fw-collection-ul link-ul">
                {{#link-to 'basic-components.content-box' tagName="li"}}Content Box{{/link-to}}
                {{#link-to 'basic-components.notifications' tagName="li"}}Notifications{{/link-to}}
                {{#link-to 'basic-components.tooltip-popover' tagName="li"}}Tooltips / Popovers{{/link-to}}
            </ul>
        {{/if}}
    {{/fw-content-box}}
</div>

<div class="col-md-8 col-sm-12">
    {{outlet}}
</div>
