<div class="col-sm-12">
    <h2>Installation and Setup for fw-ember-gc</h2>
    {{#fw-content-box hasFooter=false as |section|}}
        {{#if section.header}}
            <h1 class="panel-title"><strong>Step 1</strong></h1>
        {{else if section.body}}
            <p>Add FW Ember to your <code>package.json</code> (it's not currently available as an npm package)</p>
            {{#code-block language="json"}}
                {
                    "devDependencies": {
                        // ... more dependencies
                        "fw-ember-gc": "git+https://bitbucket.org/linformatics/fw-ember-gc.git#master"
                        // ... more dependencies
                    }
                }
            {{/code-block}}

            <p>You can also specify a specific version to install (replace 'master' with 'v0.6.0' or something similar)</p>

            <p>Once you've added that line to your json, run the following commands:</p>

            {{#code-block language="bash"}}
                npm install # installs fw-ember-gc
                ember generate fw-ember # runs the blueprint
            {{/code-block}}
        {{/if}}
    {{/fw-content-box}}

    {{#fw-content-box hasFooter=false as |section|}}
        {{#if section.header}}
            <h1 class="panel-title"><strong>Step 2</strong></h1>
        {{else if section.body}}
            <p>Create a file in your Ember-CLI app => <code>app/controllers/application.js</code> and paste the following into it:</p>
            {{#code-block language="js"}}
                import Ember from 'ember';
                import ApplicationControllerMixin from 'fw-ember/mixins/application-controller';

                export default Ember.Controller.extend(ApplicationControllerMixin, {
                    // your app code here
                });
            {{/code-block}}
        {{/if}}
    {{/fw-content-box}}

    {{#fw-content-box hasFooter=false as |section|}}
        {{#if section.header}}
            <h1 class="panel-title"><strong>Step 3</strong></h1>
        {{else if section.body}}
            <p>Create the file <code>app/routes/application.js</code> and paste the following into it:</p>
            {{#code-block language="js"}}
                import Ember from 'ember';
                import ApplicationRouteMixin from 'ember-simple-auth/mixins/application-route-mixin';

                const {service} = Ember.inject;

                export default Ember.Route.extend(ApplicationRouteMixin, {
                    title: 'Application',

                    config: service(),

                    actions: {
                        reload() {
                            window.location.replace(this.get('config.baseURL'));
                        }
                    }
                });
            {{/code-block}}
        {{/if}}
    {{/fw-content-box}}

    {{#fw-content-box hasFooter=false as |section|}}
        {{#if section.header}}
            <h1 class="panel-title"><strong>Step 4</strong></h1>
        {{else if section.body}}
            <p>Create the file <code>app/styles/app.scss</code> (remove the <code>app.css</code> file) and paste into it:</p>
            {{#code-block language="scss"}}
                $c-main: black; // replace 'black' with a base color for your application

                @import "fw-ember";
            {{/code-block}}
        {{/if}}
    {{/fw-content-box}}

    {{#fw-content-box hasFooter=false as |section|}}
        {{#if section.header}}
            <h1 class="panel-title"><strong>Step 5 (final step)</strong></h1>
        {{else if section.body}}
            <p>In your <code>app/templates/application.hbs</code>, copy/paste the following:</p>
            {{#code-block language="handlebars"}}
                \{{fw-notifications outlet="global"}}

                \{{fw-header openModal="openModal" showAboutLink=true}}

                \{{#fw-nav}}
                    &lt;ul&gt;
                        \{{#unless session.isAuthenticated}}
                            &lt;li&gt;\{{#link-to "login"}}Login\{{/link-to}}&lt;/li&gt;
                        \{{/unless}}

                        \{{#auth-block tagName="li"}}
                            \{{#link-to "index"}}Main\{{/link-to}}
                        \{{/auth-block}}
                    &lt;/ul&gt;
                \{{/fw-nav}}

                &lt;main class="container fw-container"&gt;
                    &lt;div class="row"&gt;
                        \{{outlet}}
                    &lt;/div&gt;
                &lt;/main&gt;

                \{{#if showLoginModal}}
                    \{{fw-fullscreen-modal "re-login"
        size="md"
        closeOnClick=false
        close=(action 'closeLoginModal')
        model=(hash attemptedTransition=attemptedTransition)
    }}
                \{{/if}}
            {{/code-block}}
            <p>You can look at the documentation for some of the components in that code to see what they do.</p>
        {{/if}}
    {{/fw-content-box}}
</div>
