html {
    -webkit-text-size-adjust: 100%;
}

body, html, ul, li {
    margin: 0;
    padding: 0;
}

main {
    padding-top: 20px;
}

textarea {
    max-width: 100%;
}

.space-0 {
    margin: 0;
    padding: 0;
}

.vcenter-outer {
    display: table;
    height: 100%;
    width: 100%;

    .inner {
        display: table-cell;
        vertical-align: middle;
        margin: 0 auto;
        text-align: center;
    }
}

hr {
    width: 100%;
    border: 0;
    border-top: 1px solid $c-border;
}
