<div class="col-sm-12 col-md-8 col-lg-4 col-md-offset-2 col-lg-offset-4">
    <form role="form">
        {{#fw-content-box as |section|}}
            {{#if section.header}}
                <strong class="panel-title">Forgot Password</strong>
            {{else if section.body}}
                {{fw-notifications outlet="forgot"}}

                {{fw-validated-textfield
                    valuePath="email"
                    model=this
                    label="Email"
                    placeholder="Email"
                    autofocus="true"
                    update=(action (mut email))
                }}
            {{else if section.footer}}
                {{#link-to 'login' role="button" class="btn btn-sm btn-default pull-left"}}
                    <i class="fa fa-angle-left"></i>
                    Back
                {{/link-to}}

                <button type="submit" class="btn btn-sm btn-primary pull-right" {{action 'sendResetEmail'}}>
                    <i class="fa fa-envelope"></i>
                    Send Reset Email
                </button>
            {{/if}}
        {{/fw-content-box}}
    </form>
</div>
