<div class="col-sm-12 col-md-8 col-lg-4 col-md-offset-2 col-lg-offset-4">
    <form role="form">
        {{#fw-content-box as |section|}}
            {{#if section.header}}
                <strong class="panel-title">Login</strong>
            {{else if section.body}}
                {{fw-notifications outlet="login"}}

                {{fw-validated-textfield
                    valuePath="identification"
                    model=model
                    label="Username/Email"
                    placeholder="Username/Email"
                    name="identification"
                    update=(action (mut model.identification))
                    autofocus=true
                }}

                {{fw-validated-textfield
                    valuePath="password"
                    model=model
                    label="Password"
                    placeholder="Password"
                    name="password"
                    type="password"
                    update=(action (mut model.password))
                }}
            {{else if section.footer}}
                <button type="submit" class="pull-left btn btn-sm btn-primary" {{action 'login'}}>
                    <i class="fa fa-thumbs-up"></i>
                    Login
                </button>

                {{#link-to "forgot" role="button" class="pull-right btn btn-sm btn-default"}}
                    <i class="fa fa-info-circle"></i>
                    Forgot?
                {{/link-to}}
            {{/if}}
        {{/fw-content-box}}
    </form>
</div>
