<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <form role="form">
        {{#fw-content-box as |section|}}
            {{#if section.header}}
                <strong class="panel-title">User Profile</strong>
            {{else if section.body}}
                {{fw-notifications outlet="profile"}}

                <div class="form-group">
                    <label>Username:</label>
                    <p class="control-static">{{model.id}}</p>
                </div>

                {{fw-validated-textfield
                    valuePath="nameFirst"
                    label="First Name"
                    model=model
                    placeholder="First Name"
                    update=(action (mut model.nameFirst))
                }}

                {{fw-validated-textfield
                    valuePath="nameLast"
                    label="Last Name"
                    model=model
                    placeholder="Last Name"
                    update=(action (mut model.nameLast))
                }}

                {{fw-validated-textfield
                    valuePath="namePref"
                    label="Preferred Name"
                    model=model
                    placeholder="Preferred Name"
                    update=(action (mut model.namePref))
                }}

                {{fw-validated-textfield
                    valuePath="email"
                    label="Email"
                    model=model
                    placeholder="Email"
                    update=(action (mut model.email))
                }}
            {{else if section.footer}}
                <button class="btn btn-sm btn-primary" type="submit" {{action 'save'}}>
                    <i class="fa fa-save"></i>
                    Save
                </button>

                <button class="btn btn-sm btn-primary pull-right" type="button" {{action "changePassword"}}>
                    <i class="fa fa-pencil"></i>
                    Change Password
                </button>
            {{/if}}
        {{/fw-content-box}}
    </form>
</div>
