<div class="col-sm-12 col-md-8 col-lg-4 col-md-offset-2 col-lg-offset-4">
    <form role="form">
        {{#fw-content-box as |section|}}
            {{#if section.header}}
                <strong class="panel-title">Reset Password</strong>
            {{else if section.body}}
                {{fw-notifications outlet="reset"}}

                {{fw-validated-textfield
                    valuePath="password"
                    label="Password"
                    model=this
                    type="password"
                    placeholder="Password"
                    autofocus="true"
                    update=(action (mut password))
                }}

                {{fw-validated-textfield
                    valuePath="confirmPassword"
                    label="Confirm Password"
                    model=this
                    type="password"
                    placeholder="Confirm Password"
                    update=(action (mut confirmPassword))
                }}
            {{else if section.footer}}
                <button type="submit" class="btn btn-sm btn-primary" {{action "resetPassword"}}>
                    <i class="fa fa-thumbs-up"></i>
                    Reset
                </button>
            {{/if}}
        {{/fw-content-box}}
    </form>
</div>
